.players {
  max-width: 1300px;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.box-title {
  font-size: 3rem;
}

.players article {
  margin: 1.5rem;

  height: auto;
  flex: 0 500px 1000px;
  padding: 15px;
  font-size: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  position: relative;
}
.players section {
  margin: 1.5rem;
  height: auto;
  flex: 0 0 600px;
  padding: 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  display: flex;
  position: relative;
}

.intro {
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100vh;
}

.myBg {
  background-image: url("../images/backgroundImg.jpg");
  background-size: cover;
}
.myLightBg {
  background-image: url("../images/light_mode_.jpg");
  background-size: cover;
}
@media only screen and (min-width: 496px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1280px) {
}
